#map {
    height: 100%;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
  @include media-breakpoint-down(sm) {
      font-weight: bold;
  }
}
#infowindow-content {
  @include media-breakpoint-down(sm) {
      display: none;
  }
}
#map #infowindow-content {
  @include media-breakpoint-down(sm) {
      display: inline;
  }
}

.map-height {
    height: 576px;
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        height: 800px;
    }
    @media screen and (min-width: 320px) and (max-width: 411px) {
        height: 500px;
    }
}

// .order-table {
//     @media screen and (min-width: 320px) and (max-width: 411px) {
//         height: 100px;
//     }
// }

.phone-icon {
    margin-right: 5px;
}