.serch-list {
    position: relative;
    .carousel-header {
        height: 500px;
        z-index: 0;
        @media screen and (max-width: 768px) and (max-width: 1440px) {
            height: 700px;
            z-index: 0;
            }
        @media screen and (min-width: 320px) and (max-width: 414px) {
            height: 450px;
            z-index: 0;
        } 
    }
        .btn-style-point {
            position: absolute;
            z-index: 1;
            top: 20%;
            left: 25%;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            opacity: 0.8;
            &:hover {
                border: 3px solid #fff;
                opacity: 1;
            }
            @media screen and (min-width: 1200px) and (max-width: 1440px) {
                top: 20%;
                left: 25%;
            }
            @include media-breakpoint-down(sm) {
                left: 14%;
            }
            @media screen and (min-width: 320px) and (max-width: 414px) {
                height: 100px;
                width: 90px;
                border-radius: 0 0 50px 50px;
                top: 0;
                left: 10%;
                transition: 2s;
                &:hover {
                    height: 200px;
                }
            }
        }
        .btn-style-map {
            position: absolute;
            z-index: 1;
            top: 20%;
            left: 60%;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            opacity: 0.8;
            &:hover {
                border: 3px solid #fff;
                opacity: 1;
            }
            @media screen and (min-width: 1200px) and (max-width: 1440px) {
                top: 20%;
                left: 60%;
            }
            @include media-breakpoint-down(sm) {
                left: 55%;
            }
            @media screen and (min-width: 320px) and (max-width: 414px) {
                height: 100px;
                width: 90px;
                border-radius: 0 0 50px 50px;
                top: 0;
                left: 60%;
                transition: 2s;
                &:hover {
                    height: 200px;
                    writing-mode: vertical-lr;
                }
            }
        }
        .a-style {
            font-size: 25px;
            text-decoration: none;
            @media screen and (min-width: 320px) and (max-width: 414px) {
                font-size: 20px;
            }
        }
}
.btn-dec a {
    text-decoration: none;
}
.btn-radius {
    display: inline-block;
    border-radius: 50px;
    color: gray;
    border: 2px solid $success;
    padding: 8px;
    margin-right: 2px;
    margin-bottom: 10px;
    &:hover {
        color: gray;
        background-color: $primary-200;
        cursor: pointer;
    }
    &.active {
        color: #fff;
        background-color: $primary;
        border: 2px solid $primary;
    }
}

.btn-all{
    color: #fff;
    background-color: $primary;
}

.border-style {
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
}
.dispoint , .dismap , .dispage{
    display: none;
}

.disblock {
    display: block;
}

.mapstyle {
    height: 576px;
    @include media-breakpoint-down(sm) {
         height: 400px;
      }
}

.navbar-toggler-icon {
    @media screen and (min-width: 320px) and (max-width: 414px) {
        font-size: 10px;
    }
}